project_prefix       = "globe-crm"
github_repo          = "first-fluke/mapple"
supabase_org_id      = ""
supabase_db_password = ""
supabase_region      = "ap-northeast-2"
upstash_region       = "ap-northeast-1"
b2_region            = "us-west-004"
api_url              = "https://globe-crm-api.fly.dev"
web_app_url          = "https://globe-crm.vercel.app"
